## Задание 0

**Я научился пользоваться MarkDown на Jupyter**

## Задание 1

### Задание 1.1

In [1]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

### Задание 1.2

In [2]:
def merge_dicts(dict1: dict, dict2: dict) -> dict:
    dict1.update(dict2)
    return dict1


merge_dicts(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## Задание 2

### Задание 2.1

In [5]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
result = dict()
# len(values) = 3
# range(3) = 0, 1, 2
# for i in 0, 1, 2:
for i in range(len(values)):
    result[keys[i]] = values[i]
result

{'One': 1, 'Two': 2, 'Three': 3}

### Задание 2.2

In [4]:
def get_dict(keys: list, values: list) -> dict:
    return {keys[i]: values[i] for i in range(len(values))}


get_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

## Задание 3

### Задание 3.1

In [7]:
client_dict = {
        "name": "John",
        "age": 25,
        "salary": 5000,
        "city": "Moscow"
}
def create_dict(client_dict: dict, keys: list=['name', 'age']) -> dict:
    result = {}
    # ['name', 'age']
    for i in keys:
        result[i] = client_dict[i]
    return result

create_dict(client_dict, ['salary', 'city'])

{'salary': 5000, 'city': 'Moscow'}

### Задание 3.2

In [8]:
keys = ['name', 'age']
new_dict = {i: client_dict[i] for i in keys}
new_dict

{'name': 'John', 'age': 25}

## Задание 4

### Задание 4.1

In [15]:
import random


random.seed(8)
data = [random.randint(0, 101) for i in range(5)]
print(data)

random.seed(8)
data = [random.randint(0, 101) for i in range(5)]
data

[29, 47, 48, 16, 24]

[29, 47, 48, 16, 24]

### Задание 4.2

In [17]:
import time 


def elapsed_since(data):
    last_time = None
    
    for item in data:
        current_time = time.time()
        
        if last_time:
            delta = current_time - last_time
        else:
            delta = current_time - current_time
        
        last_time = time.time()
        yield (int(delta), item)
        
for t in elapsed_since(data):
    print(t)
    time.sleep(2)

(0, 29)
(2, 47)
(2, 48)
(2, 16)
(2, 24)

## Задание 6

In [21]:
def product(*args):
    return {"Общая сумма продуктов": sum(args), 'Среднее значение': sum(args) / len(args)}


product(100, 37, 56, 259, 109)

{'Общая сумма продуктов': 561, 'Среднее значение': 112.2}